@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root {
    /* background colors  */
    --bg-blue: #005085;
    --bg-light-blue: #1AA9E5;
    --bg-white: #FFFFFF;
    --bg-grey: #F5F6FB;

    /* text colors  */
    --text-white: #fff;
    --text-black: #121212; 
    --text-blue: #07A5E4;
    --text-orange: #E59421;
    --text-grey: #4A4A4A;
    --text-light-grey: #444444;
}

body {
    font-family: 'Roboto', sans-serif;
}

a,
a:hover{
    text-decoration: none;
}

li {
    list-style: none;
}

/* upper navbar css  */
.navbar-upper {
    background-color: var(--bg-blue);
    height: 65px;
}

.navbar-upper p {
    color: var(--text-white);
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 0.4em;
}

.navbar-upper .navbar-upper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-upper .navbar-upper-wrapper .end-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-upper button {
    background-color: var(--bg-blue);
    border: none;
}

.navbar-upper button:hover {
    background-color: var(--bg-blue);
}

.navbar-upper img {
    width: 25px;
    margin-bottom: 0.3em;
}

/* bottom navbar css  */
.navbar-bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.navbar-bottom-wrapper .start-content h1{
    display: inline-block;
    color: var(--text-blue);
    font-size: 3.5rem;
}

.navbar-bottom-wrapper .start-content i {
    color: var(--bg-blue);
    margin-right: 0.3em;
}

.navbar-bottom-wrapper .mid-content ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.navbar-bottom-wrapper .mid-content ul li {
    margin-top: 1.5em;
}

.navbar-bottom-wrapper .mid-content ul li svg {
    margin-bottom: 0.6em;
}

.mid-content ul p {
    display: inline-block;
    font-size: 1.8rem;
    margin-right: 0.3em;
}

.navbar-bottom-wrapper .end-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.8rem;
}

.navbar-bottom-wrapper .end-content button {
    border: 1px solid var(--bg-white);
    background-color: var(--bg-light-blue);
    color: var(--text-white);
    padding: 0.6em 1em;
    border-radius: 4px;
    margin-bottom: 0.6em;
}

.navbar-bottom-wrapper .end-content button:hover {
    background-color: var(--bg-white);
    color: var(--text-blue);
    border: 1px solid var(--bg-light-blue);
}

/* hero section css  */
.hero-section {
    background-color: var(--bg-grey);
    margin-top: 2rem;
    position: relative;
    margin-bottom: 10rem;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5em 0;
    padding-bottom: 80px;
}

.hero-wrapper .hero-content {
    margin-top: 40px;
}

.hero-wrapper .hero-content p:first-of-type{
    font-size: 2.5rem;
}

.hero-wrapper .hero-content p:first-of-type span {
    font-size: 3rem;
    font-weight: 400;
}

.hero-wrapper .hero-content h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: normal;
}

.hero-wrapper .hero-content p:last-of-type {
    font-size: 1.8rem;
    color: var(--text-grey);
    line-height: 1.5;
    margin-top: 1.5rem;
}

.hero-content img {
    width: 160px;
    margin-top: 15px;
    margin-right: 12px;
    cursor: pointer;
}

.hero-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 100px;
    background-color: var(--bg-white);
    border-radius: 8px;
    padding: 0;
    padding-left: 1.5em;
    position: absolute;
    left: 20%;
    bottom: -10%;
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.7);
}

.hero-footer-1 {
    margin-right: 2em;
}

.hero-footer p {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--text-light-grey);
}

.hero-footer p span {
    color: var(--text-black);
    font-weight: bold;
    font-size: 1.6rem;
}

.hero-footer-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero-footer-wrapper i {
    align-self: center;
    margin-bottom: 10px;
}

.hero-footer-6 {
    background-color: var(--bg-light-blue);
    height: 100%;
    width: 300px;
    border-radius: 0 8px 8px 0;
    padding: 0 1.5em;
}

.hero-footer-6 p {
    color: var(--text-white);
    font-size: 2rem;
}